In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("training.csv")
data

,Unnamed: 0,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Classifier
0,0.0,1,24,5.09,40.20,5.13,58.34,102.11,0.00,120,0.10,177,1992,99.97,1
1,1.0,2,64,5.25,41.74,5.29,56.94,145.38,0.00,345,0.10,186,1939,99.34,1
2,2.0,3,107,5.34,42.71,5.44,55.48,232.97,0.00,812,0.10,209,1886,98.06,1
3,3.0,4,148,5.47,44.76,5.58,54.07,357.53,0.02,1458,0.11,245,1844,96.26,1
4,4.0,5,191,5.64,47.65,5.76,52.61,526.67,0.05,2281,0.13,291,1790,93.85,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3219,NaN,424,1613,1.40,10.60,0.00,22.30,4633.32,446.16,84988,0.38,1759,0,48.37,3
3220,NaN,425,1603,1.58,11.94,0.00,22.30,3658.62,447.51,82432,0.38,1749,0,56.96,3
3221,NaN,426,1593,1.75,13.32,0.00,22.30,2762.38,448.75,79852,0.38,1738,0,65.92,3
3222,NaN,427,1580,1.95,14.99,0.00,22.30,1814.85,450.05,76881,0.38,1725,0,76.59,3
3223,NaN,428,1565,2.15,16.76,0.00,22.30,891.77,451.32,73754,0.38,1710,0,88.30,3

In [9]:
# Create a new column 'Classifier' with default value 2
data['Classifier'] = 2

# Apply conditions and update the 'Classifier' column
data.loc[(data['Time'] < 150) & (data['Pressure'] > 0), 'Classifier'] = 1
data.loc[(data['Time'] > 150) & (data['Pressure'] > 0), 'Classifier'] = 3

In [10]:
data = data.drop("Unnamed: 0", axis=1)
data = data.drop("Unnamed: 13", axis=1)

KeyError: "['Unnamed: 13'] not found in axis"

In [11]:
# Save the modified DataFrame back to the CSV file
data.to_csv('training.csv', index= False)