# Do not run all cells , only run when new data is added and only run that cell to append

In [8]:
import pandas as pd

In [14]:
data7 = pd.read_csv("7.csv")
print("DATA1 imported")

training = pd.read_csv("training.csv")
print("Training imported")

DATA1 imported
Training imported

In [15]:
training

,Unnamed: 0,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Classifier,Unnamed: 13
0,0,1,24,5.09,40.20,5.13,58.34,102.11,0.00,120,0.10,177,1992,99.97,1.0,NaN
1,1,2,64,5.25,41.74,5.29,56.94,145.38,0.00,345,0.10,186,1939,99.34,1.0,NaN
2,2,3,107,5.34,42.71,5.44,55.48,232.97,0.00,812,0.10,209,1886,98.06,1.0,NaN
3,3,4,148,5.47,44.76,5.58,54.07,357.53,0.02,1458,0.11,245,1844,96.26,1.0,NaN
4,4,5,191,5.64,47.65,5.76,52.61,526.67,0.05,2281,0.13,291,1790,93.85,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,372,373,1403,1.06,5.56,0.00,22.30,4791.99,230.90,96026,37.06,1486,0,47.03,NaN,NaN
3974,373,374,1400,1.23,6.46,0.00,22.30,3670.41,231.69,94089,37.03,1482,0,56.79,NaN,NaN
3975,374,375,1394,1.43,7.79,0.00,22.30,2505.33,232.50,91776,36.98,1476,0,68.61,NaN,NaN
3976,375,376,1387,1.64,9.42,0.00,22.30,1389.65,233.28,89258,36.93,1468,0,81.73,NaN,NaN
3977,376,377,1377,1.88,11.45,0.00,22.30,234.08,234.08,86301,36.87,1458,0,97.40,NaN,NaN

# add the new data in place of data5 in the below code, remove the comment # and run it.

In [16]:
training = training._append(data7)

In [17]:
training.to_csv("training.csv")

In [18]:
training

,Unnamed: 0,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Classifier,Unnamed: 13
0,0.0,1,24,5.09,40.20,5.13,58.34,102.11,0.00,120,0.10,177,1992,99.97,1.0,NaN
1,1.0,2,64,5.25,41.74,5.29,56.94,145.38,0.00,345,0.10,186,1939,99.34,1.0,NaN
2,2.0,3,107,5.34,42.71,5.44,55.48,232.97,0.00,812,0.10,209,1886,98.06,1.0,NaN
3,3.0,4,148,5.47,44.76,5.58,54.07,357.53,0.02,1458,0.11,245,1844,96.26,1.0,NaN
4,4.0,5,191,5.64,47.65,5.76,52.61,526.67,0.05,2281,0.13,291,1790,93.85,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,NaN,373,1403,1.06,5.56,0.00,22.30,4791.99,230.90,96026,37.06,1486,0,47.03,NaN,NaN
373,NaN,374,1400,1.23,6.46,0.00,22.30,3670.41,231.69,94089,37.03,1482,0,56.79,NaN,NaN
374,NaN,375,1394,1.43,7.79,0.00,22.30,2505.33,232.50,91776,36.98,1476,0,68.61,NaN,NaN
375,NaN,376,1387,1.64,9.42,0.00,22.30,1389.65,233.28,89258,36.93,1468,0,81.73,NaN,NaN
376,NaN,377,1377,1.88,11.45,0.00,22.30,234.08,234.08,86301,36.87,1458,0,97.40,NaN,NaN