# Do not run all cells , only run when new data is added and only run that cell to append

In [3]:
import pandas as pd

In [4]:
data1 = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\1.csv")
print("DATA1 imported")
data2 = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\2.csv")
print("DATA2 imported")
data3 = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\3.csv")
print("DATA3 imported")
data4 = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\4.csv")
print("DATA4 imported")
data5 = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\5.csv")
print("DATA5 imported")
data6 = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\6.csv")
print("DATA6 imported")
training = pd.read_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\training.csv")
print("Training imported")

DATA1 imported
DATA2 imported
DATA3 imported
DATA4 imported
DATA5 imported
DATA6 imported
Training imported

In [5]:
training

,Unnamed: 0.1,Unnamed: 0,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Unnamed: 13
0,0,0.0,1,24,5.09,40.20,5.13,58.34,102.11,0.00,120,0.10,177,1992,99.97,NaN
1,1,1.0,2,64,5.25,41.74,5.29,56.94,145.38,0.00,345,0.10,186,1939,99.34,NaN
2,2,2.0,3,107,5.34,42.71,5.44,55.48,232.97,0.00,812,0.10,209,1886,98.06,NaN
3,3,3.0,4,148,5.47,44.76,5.58,54.07,357.53,0.02,1458,0.11,245,1844,96.26,NaN
4,4,4.0,5,191,5.64,47.65,5.76,52.61,526.67,0.05,2281,0.13,291,1790,93.85,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,551,NaN,552,1749,0.75,5.25,0.00,22.30,9650.50,398.13,173294,40.45,1833,0,19.07,NaN
2792,552,NaN,553,1748,0.99,5.68,0.00,22.30,8245.29,399.21,170630,40.44,1832,0,25.11,NaN
2793,553,NaN,554,1744,1.21,6.79,0.00,22.30,6896.18,400.24,167468,40.43,1828,0,32.36,NaN
2794,554,NaN,555,1738,1.47,8.60,0.00,22.30,5494.88,401.32,163529,40.41,1821,0,41.61,NaN
2795,555,NaN,556,1729,1.75,10.90,0.00,22.30,4153.25,402.35,159076,40.38,1812,0,52.37,NaN

# add the new data in place of data5 in the below code, remove the comment # and run it.

In [6]:
training = training._append(data6)

In [7]:
training.to_csv("D:\\KerbalSpaceProgram\\English\\GameData\\DataExport\\graphs\\training.csv")

In [8]:
training

,Unnamed: 0.1,Unnamed: 0,Time,Velocity,GForce,Acceleration,TWR,Mass,AltitudeFromTerrain,DownrangeDistance,Apoapsis,Inclination,OrbitalVelocity,VesselDeltaV,Pressure,Unnamed: 13
0,0.0,0.0,1,24,5.09,40.20,5.13,58.34,102.11,0.00,120,0.10,177,1992,99.97,NaN
1,1.0,1.0,2,64,5.25,41.74,5.29,56.94,145.38,0.00,345,0.10,186,1939,99.34,NaN
2,2.0,2.0,3,107,5.34,42.71,5.44,55.48,232.97,0.00,812,0.10,209,1886,98.06,NaN
3,3.0,3.0,4,148,5.47,44.76,5.58,54.07,357.53,0.02,1458,0.11,245,1844,96.26,NaN
4,4.0,4.0,5,191,5.64,47.65,5.76,52.61,526.67,0.05,2281,0.13,291,1790,93.85,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,NaN,NaN,424,1613,1.40,10.60,0.00,22.30,4633.32,446.16,84988,0.38,1759,0,48.37,NaN
424,NaN,NaN,425,1603,1.58,11.94,0.00,22.30,3658.62,447.51,82432,0.38,1749,0,56.96,NaN
425,NaN,NaN,426,1593,1.75,13.32,0.00,22.30,2762.38,448.75,79852,0.38,1738,0,65.92,NaN
426,NaN,NaN,427,1580,1.95,14.99,0.00,22.30,1814.85,450.05,76881,0.38,1725,0,76.59,NaN
427,NaN,NaN,428,1565,2.15,16.76,0.00,22.30,891.77,451.32,73754,0.38,1710,0,88.30,NaN